# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\11400421\Documents\Switch2IT\2020-2021\Semester 2\Java Advanced 2\Demo's\Week8 Demo\PAJ_Rest_testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
